@import "./base.css";
@import "./navbar.css";
@import "./grid.css";

:root {
  --container-width: 1200px;
  --accent: #ffb900;
}

html {
  /* color-scheme: dark light; */
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
}

.font-serif {
  font-family: "Playfair Display", serif;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-800 {
  font-weight: 800;
}

.form-error {
  color: rgb(235, 33, 33);
}

.text-center {
  text-align: center;
}

.container {
  display: block;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 1rem;
}

:is(a, button, input, select):focus {
  outline: 3px solid black;
  border-radius: var(--focus-radius, 0.25rem);
}

.navbar :is(a, button),
.btn {
  transition: background-color ease 0.25s, color ease 0.25s;
}

.btn {
  background-color: #ffe08b;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
}

.btn,
.navbar a {
  text-decoration: none;
  padding: 0.5rem 0.95rem;
  border-radius: 0.25rem;
  color: black;
  border: none;
}

.btn:hover {
  background-color: #ffefbf;
}

.btn:focus,
.navbar a:focus {
  outline: 3px solid black;
}

.cloudinary-button,
.navbar .cloudinary-button {
  background-color: rgb(103, 86, 255);
  padding: 0.5rem 0.95rem;
  border-radius: 0.25rem;
  line-height: 1.5;
  border: 1px solid transparent;
  color: black;
}

.already-friends {
  background-color: rgb(103, 86, 255);
}

.cloudinary-button:hover,
.navbar .cloudinary-button:hover,
.already-friends:hover {
  background-color: rgb(61, 40, 255);
  box-shadow: none;
}

#upload_widget {
  border-radius: 0.25rem;
  height: 5rem;
}

.profile-actions {
  display: flex;
  gap: 0.5rem;
}

.back-to-profile {
  transition: text-decoration ease 0.35s;
  text-decoration: 2px underline black;
  text-underline-offset: 0.5rem;
  display: inline-block;
}

.back-to-profile div {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.back-to-profile svg {
  width: 1.25em;
}

.back-to-profile:hover svg {
  color: rgb(61, 40, 255);
}

.back-to-profile,
.back-to-profile:hover,
.back-to-profile:focus {
  color: black;
}