nav::before {
  content: "";
  display: block;
  height: 6rem;
}

.navbar {
  position: fixed;
  top: 0.5rem;
  left: 0;
  width: 100%;
  padding: 0 1rem;
}

.navbar-container {
  max-width: var(--container-width);
  width: 100%;

  display: flex;
  gap: 0.5rem;

  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0.5rem 0.75rem;

  background-color: rgb(255 255 255);
  border: 1px solid rgb(225 225 225);
  /* box-shadow: 0px 2px 6px 2px rgb(81 78 141 / 16%); */

  --radius: 0.25rem;
  border-radius: var(--radius);
}

@supports (backdrop-filter: blur(8px)) {
  .navbar-container {
    /* background-color: rgb(255 255 255 / 0.75);
    backdrop-filter: blur(25px); */
  }
}

.navbar :is(a, button) {
  transition: background-color ease 0.25s, color ease 0.25s;
}

.navbar a {
  text-decoration: none;
  padding: 0.5rem 0.95rem;
  border-radius: 0.25rem;
  color: black;
}

.navbar a:hover {
  background-color: #ffe08b;
}

.navbar a:focus {
  outline: 3px solid black;
}

.navbar a.active:hover {
  background-color: #ffe08b;
}

.navbar a.active {
  background-color: var(--accent);
}

.navbar a.active:focus {
  outline: 3px solid black;
}

.navbar .signup-btn {
  background-color: #ffe08b;
  display: flex;
  gap: 0.5rem;
}

.navbar .signup-btn svg {
  width: 1.25rem;
}

.navbar .signup-btn:hover {
  background-color: #ffefbf;
}

.navbar .flex-grow {
  flex-grow: 1;
}

.navbar form.search {
  transition: outline ease 0.35s;

  --border-color: black;
  --border-size: 1px;
  --border: var(--border-size) solid var(--border-color);

  --radius: 0.25rem;
  border-radius: var(--radius);

  outline: 1px solid transparent;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;

  padding-inline-end: 0.35rem;
}

.navbar-container form.search:hover {
  outline: 2px solid black;
}

.navbar form.search:focus-within {
  transition: none;
  outline: 3px solid black;
}

.navbar form.search input {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.25;

  padding: 0.5rem 0.75rem;
}

.navbar form.search input::placeholder {
  font-size: 0.85rem;
  color: inherit;
}

.navbar form.search input:focus {
  outline: none;
}

.navbar form.search button {
  color: rgb(0, 0, 0);
  background-color: #ffb900;

  border: none;
  border-radius: var(--radius);

  font-size: 1rem;
  cursor: pointer;
}

.navbar form.search button:hover {
  color: white;
  background-color: black;
}

.navbar form.search button svg {
  width: 1em;
  height: 1.5em;
  stroke: currentColor;
}
